[submodule "dotbot/main"]
	path = dotbot/main
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot/dotbot-brew"]
	path = dotbot/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
	ignore = dirty
[submodule "apps/rime/rime-ice"]
	path = apps/rime/rime-ice
	url = https://github.com/iDvel/rime-ice.git
  ignore = dirty
