[submodule "suckless/dwm-flexipatch"]
	path = suckless/dwm-flexipatch
	url = git@github.com:zhao-h2o2/dwm-flexipatch.git
	branch = myconfig
[submodule "suckless/dwm"]
	path = suckless/dwm
	url = git@github.com:zhao-h2o2/dwm.git
	branch = main
